body{
   
}
.form{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    
}
.form input{
    padding: 10px;
    margin: 10px;
    width: 20%;
    border: 2px solid rgba(0,0,0,0.3);
   
}
.btn{
    margin: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn input{
    margin-left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: blueviolet;
    font-size: 20px;
    transition:2s;
}
.btn input:hover{
    transform: scale(1.3);
    
}
.table{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 500px;
}
.table tr{
    color: red;
    text-align: center;
    display: flex;
}
.table th{
    padding-left: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.table td{
    padding-left: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 10s;
}
.table td:hover{
    transform: scale(2);
}